Importation des Librairies

In [1]:
import pandas as pd
import math
import matplotlib.pyplot as plt
import re
import os
import seaborn as sns
import warnings

Chargement du Fichier CSV

In [5]:
data = pd.read_csv("fraud test.csv")

Compréhension des Données

In [6]:
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,21/06/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,19/03/1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,21/06/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",17/01/1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,21/06/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",21/10/1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,21/06/2020 12:15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,25/07/1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,21/06/2020 12:15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,06/07/1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [22]:
dfm.shape

(2145, 23)

In [14]:
# Obtenir des informations sur les types de données et les dimensions
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  float64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(6), int64(5), object(12)
memory usage: 97.5+ MB
None

In [23]:
# Echantillonage de Données

sample = data.sample(frac=0.001)
print(sample)

        Unnamed: 0 trans_date_trans_time        cc_num  \
74625        74625      17/07/2020 09:05  4.210080e+18
22              22      21/06/2020 12:20  4.562830e+12
106568      106568      28/07/2020 05:33  1.800590e+14
469887      469887      13/12/2020 10:23  3.703490e+14
254146      254146      22/09/2020 04:32  4.365380e+15
...            ...                   ...           ...
522035      522035      24/12/2020 11:49  3.017600e+13
81214        81214      19/07/2020 19:33  6.011230e+15
351540      351540      03/11/2020 17:33  2.242540e+15
396909      396909      23/11/2020 22:22  3.894770e+13
340089      340089      30/10/2020 05:06  4.169390e+12

                                  merchant        category     amt  \
74625    fraud_Schoen, Kuphal and Nitzsche     grocery_pos  118.99
22                       fraud_Tillman LLC          travel    1.74
106568   fraud_Raynor, Reinger and Hagenes   gas_transport   77.04
469887    fraud_Turner, Ziemann and Lehner     food_dining   24.40
254146     fraud_Heller, Gutmann and Zieme     grocery_pos   95.14
...                                    ...             ...     ...
522035  fraud_Osinski, Ledner and Leuschke     grocery_pos  107.39
81214                   fraud_Leannon-Ward     food_dining    1.36
351540                 fraud_Adams-Barrows  health_fitness   32.40
396909                   fraud_Windler LLC       kids_pets   12.43
340089                  fraud_Cummings LLC   gas_transport   56.68

              first       last gender                             street  ...  \
74625       Valerie      Clark      F                    7402 West Ranch  ...
22      Christopher    Johnson      M  28711 Kristine Junction Suite 309  ...
106568      Richard     Barnes      M     1339 Johnson Landing Suite 007  ...
469887  Christopher      Gomez      M                   950 Dunn Squares  ...
254146       Robert    Goodman      M          956 Paul Fields Suite 108  ...
...             ...        ...    ...                                ...  ...
522035      Rebecca     Butler      F                    0665 Lisa Alley  ...
81214        Johnny    Bennett      M               321 Camacho Causeway  ...
351540       Samuel    Jenkins      M      43235 Mckenzie Views Apt. 837  ...
396909         Lori  Rodriguez      F                12087 Michael Light  ...
340089       Marcia     Molina      F              6744 Jimmy Extensions  ...

            lat      long  city_pop                                   job  \
74625   43.9210 -122.7806      1420                       Systems analyst
22      40.0987  -84.6342     22930                         Media planner
106568  42.1890  -74.9229       782                  Chartered accountant
469887  30.5668  -90.4820      8512  Accountant, chartered public finance
254146  48.1439  -92.8561      1680               Horticultural therapist
...         ...       ...       ...                                   ...
522035  47.5375  -95.9941       516                Applications developer
81214   40.9115  -74.4140     15269      Psychologist, sport and exercise
351540  38.4921  -85.4524       564                   Pensions consultant
396909  39.3543  -82.5030       321               Copywriter, advertising
340089  43.0330  -77.1575       207                Database administrator

               dob                         trans_num   unix_time  merch_lat  \
74625   11/11/1965  eaffce44853efa92ff658f737898ecbc  1374051927  43.381376
22      26/11/1971  d8edb8556aad03a15e2d5702948a47fb  1371817257  40.117116
106568  28/08/2000  7c193dfee1c9c7e6226fbf7b869bf16e  1374989594  42.950625
469887  03/09/1951  33e069a46dc091706262fd68ce0717db  1386930206  30.067813
254146  10/12/1976  80ead11d1fd8d18c678518b7f781e5dd  1379824350  47.652893
...            ...                               ...         ...        ...
522035  07/06/1966  c7b8e400d9ed5cb8f49a513be1a59f72  1387885768  47.533790
81214   05/07/1993  35a33c0c27400337dbbe1a43fd0f76aa  1374262414  40.319954
351540  10/04/1996  aec923486fdf483d3ad672f659dc40b0  1383500019  38.078152
396909  24/06/1979  c3e3381920cd019e7a12680fdaaf299a  1385245320  38.781065
340089  27/09/1962  610f7b0d40a5bf582ec3d32bbe911bcb  1383109600  42.771856

        merch_long  is_fraud
74625  -123.233462         0
22      -84.175021         0
106568  -75.366700         0
469887  -90.448332         0
254146  -92.431863         0
...            ...       ...
522035  -96.738580         0
81214   -74.874699         0
351540  -86.378179         0
396909  -81.635596         0
340089  -77.276888         0

[556 rows x 23 columns]

Nettoyage des Données

In [17]:
# Traiter les valeurs manquantes

data.dropna(inplace=True)

In [ ]:
# Transformer les données si nécessaire
# Exemple : Normalisation des données
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[['colonne1', 'colonne2']] = scaler.fit_transform(data[['colonne1', 'colonne2']])

In [ ]:
# Traiter les valeurs aberrantes
# Exemple : Supprimer les valeurs en dehors d'un certain intervalle
data = data[(data['colonne'] > borne_inférieure) & (data['colonne'] < borne_supérieure)]

In [24]:
# Identification des valeurs nulles

nombre_valeurs_nulles_par_colonne = data.isnull().sum()

In [26]:
# Affichage des valeurs nulles

print(nombre_valeurs_nulles_par_colonne)

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

Masque de la colonne " is fraud "

In [7]:
fraud_mask = ((data['is_fraud'] == 1))
dfm = data[(fraud_mask)]
dfm.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1685,1685,21/06/2020 22:06,3.560730e+15,fraud_Hamill-D'Amore,health_fitness,24.84,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.8599,-102.7413,23,Cytogeneticist,15/09/1969,16bf2e46c54369a8eab2214649506425,1371852399,32.575873,-102.604290,1
1767,1767,21/06/2020 22:32,6.564460e+15,"fraud_Rodriguez, Yost and Jenkins",misc_net,780.52,Douglas,Willis,M,619 Jeremy Garden Apt. 681,...,42.5545,-90.3508,1306,Public relations officer,10/09/1958,ab4b379d2c0c9c667d46508d4e126d72,1371853942,42.461127,-91.147148,1
1781,1781,21/06/2020 22:37,6.564460e+15,fraud_Nienow PLC,entertainment,620.33,Douglas,Willis,M,619 Jeremy Garden Apt. 681,...,42.5545,-90.3508,1306,Public relations officer,10/09/1958,47a9987ae81d99f7832a54b29a77bf4b,1371854247,42.771834,-90.158365,1
1784,1784,21/06/2020 22:38,4.005680e+15,"fraud_Heathcote, Yost and Kertzmann",shopping_net,1077.69,William,Perry,M,458 Phillips Island Apt. 768,...,30.4590,-90.9027,71335,Herbalist,31/05/1994,fe956c7e4a253c437c18918bf96f7b62,1371854335,31.204974,-90.261595,1
1857,1857,21/06/2020 23:02,3.560730e+15,fraud_Hermann and Sons,shopping_pos,842.65,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.8599,-102.7413,23,Cytogeneticist,15/09/1969,f6838c01f5d2262006e6b71d33ba7c6d,1371855736,31.315782,-102.736390,1

Analyse Univariée

In [10]:
print(data.describe())

          Unnamed: 0        cc_num            amt            zip  \
count  555719.000000  5.557190e+05  555719.000000  555719.000000
mean   277859.000000  4.178387e+17      69.392810   48842.628015
std    160422.401459  1.309837e+18     156.745941   26855.283328
min         0.000000  6.041621e+10       1.000000    1257.000000
25%    138929.500000  1.800430e+14       9.630000   26292.000000
50%    277859.000000  3.521420e+15      47.290000   48174.000000
75%    416788.500000  4.635330e+15      83.010000   72011.000000
max    555718.000000  4.992350e+18   22768.110000   99921.000000

                 lat           long      city_pop     unix_time  \
count  555719.000000  555719.000000  5.557190e+05  5.557190e+05
mean       38.543253     -90.231325  8.822189e+04  1.380679e+09
std         5.061336      13.721780  3.003909e+05  5.201104e+06
min        20.027100    -165.672300  2.300000e+01  1.371817e+09
25%        34.668900     -96.798000  7.410000e+02  1.376029e+09
50%        39.371600     -87.476900  2.408000e+03  1.380762e+09
75%        41.894800     -80.175200  1.968500e+04  1.385867e+09
max        65.689900     -67.950300  2.906700e+06  1.388534e+09

           merch_lat     merch_long       is_fraud
count  555719.000000  555719.000000  555719.000000
mean       38.542798     -90.231380       0.003860
std         5.095829      13.733071       0.062008
min        19.027422    -166.671575       0.000000
25%        34.755302     -96.905129       0.000000
50%        39.376593     -87.445204       0.000000
75%        41.954163     -80.264637       0.000000
max        66.679297     -66.952026       1.000000

In [ ]:
# 1) Sélection de la variable / colonne à analyser


colonne = data['nom_colonne']

In [ ]:
# 2) Calculer les statistiques descriptives de la colonne


statistiques_descriptives = colonne.describe()
print(statistiques_descriptives)

In [ ]:
# 3) Visualisation de la distribution via le traçage d'un histogramme


plt.hist(colonne, bins=10)  # Nombre de bacs peut être ajusté selon les besoins
plt.xlabel('Valeurs')
plt.ylabel('Fréquence')
plt.title('Histogramme de la colonne')
plt.show()

In [ ]:
# Visualiser la distribution des variables

import matplotlib.pyplot as plt
data['colonne'].hist()
plt.show()

Analyse Bivariée

In [28]:
# 1) Sélection des variables / colonnes à comparer


colonne1 = data['nom_colonne1']
colonne2 = data['nom_colonne2']

In [ ]:
# 2)  Calculer la corrélation entre les deux colonnes


correlation = colonne1.corr(colonne2)
print("Corrélation entre les deux colonnes :", correlation)

In [ ]:
# 3) Créer un tableau croisé dynamique


tableau_croise = pd.crosstab(colonne1, colonne2)

# Tracer un graphique à barres
tableau_croise.plot(kind='bar')
plt.xlabel('Nom de la colonne 1')
plt.ylabel('Fréquence')
plt.title('Graphique à barres pour les deux colonnes')
plt.legend(title='Nom de la colonne 2')
plt.show()

Aanalyse Multivariée

In [12]:
# Identifier les noms des colonnes (features)

features = data.columns.tolist()
print("Features:", features)

Features: ['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud']

In [13]:
# Identification de la Colonne Target 
# Sélectionner la colonne de la variable cible

target_column = 'is_fraud'
target = data[target_column]