In [26]:
import pandas as pd
import math
import matplotlib.pyplot as plt
import re
import os
import seaborn as sns
import warnings

In [27]:
data = pd.read_csv('fraud test.csv')

In [28]:
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,21/06/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,19/03/1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,21/06/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",17/01/1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,21/06/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",21/10/1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,21/06/2020 12:15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,25/07/1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,21/06/2020 12:15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,06/07/1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [29]:
data["is_fraud"].unique()

array([0, 1], dtype=int64)

Masque de la colonne " is fraud "

In [30]:
fraud_mask = ((data['is_fraud'] == 1))
dfm = data[(fraud_mask)]
dfm.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1685,1685,21/06/2020 22:06,3.560730e+15,fraud_Hamill-D'Amore,health_fitness,24.84,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.8599,-102.7413,23,Cytogeneticist,15/09/1969,16bf2e46c54369a8eab2214649506425,1371852399,32.575873,-102.604290,1
1767,1767,21/06/2020 22:32,6.564460e+15,"fraud_Rodriguez, Yost and Jenkins",misc_net,780.52,Douglas,Willis,M,619 Jeremy Garden Apt. 681,...,42.5545,-90.3508,1306,Public relations officer,10/09/1958,ab4b379d2c0c9c667d46508d4e126d72,1371853942,42.461127,-91.147148,1
1781,1781,21/06/2020 22:37,6.564460e+15,fraud_Nienow PLC,entertainment,620.33,Douglas,Willis,M,619 Jeremy Garden Apt. 681,...,42.5545,-90.3508,1306,Public relations officer,10/09/1958,47a9987ae81d99f7832a54b29a77bf4b,1371854247,42.771834,-90.158365,1
1784,1784,21/06/2020 22:38,4.005680e+15,"fraud_Heathcote, Yost and Kertzmann",shopping_net,1077.69,William,Perry,M,458 Phillips Island Apt. 768,...,30.4590,-90.9027,71335,Herbalist,31/05/1994,fe956c7e4a253c437c18918bf96f7b62,1371854335,31.204974,-90.261595,1
1857,1857,21/06/2020 23:02,3.560730e+15,fraud_Hermann and Sons,shopping_pos,842.65,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.8599,-102.7413,23,Cytogeneticist,15/09/1969,f6838c01f5d2262006e6b71d33ba7c6d,1371855736,31.315782,-102.736390,1

In [31]:
dfm.shape

(2145, 23)

In [32]:
print(data.info())

#faire cc_num , first last,  street, city, state, zip, trans, num

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  float64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(6), int64(5), object(12)
memory usage: 97.5+ MB
None

In [33]:
print(data.describe())

          Unnamed: 0        cc_num            amt            zip  \
count  555719.000000  5.557190e+05  555719.000000  555719.000000
mean   277859.000000  4.178387e+17      69.392810   48842.628015
std    160422.401459  1.309837e+18     156.745941   26855.283328
min         0.000000  6.041621e+10       1.000000    1257.000000
25%    138929.500000  1.800430e+14       9.630000   26292.000000
50%    277859.000000  3.521420e+15      47.290000   48174.000000
75%    416788.500000  4.635330e+15      83.010000   72011.000000
max    555718.000000  4.992350e+18   22768.110000   99921.000000

                 lat           long      city_pop     unix_time  \
count  555719.000000  555719.000000  5.557190e+05  5.557190e+05
mean       38.543253     -90.231325  8.822189e+04  1.380679e+09
std         5.061336      13.721780  3.003909e+05  5.201104e+06
min        20.027100    -165.672300  2.300000e+01  1.371817e+09
25%        34.668900     -96.798000  7.410000e+02  1.376029e+09
50%        39.371600     -87.476900  2.408000e+03  1.380762e+09
75%        41.894800     -80.175200  1.968500e+04  1.385867e+09
max        65.689900     -67.950300  2.906700e+06  1.388534e+09

           merch_lat     merch_long       is_fraud
count  555719.000000  555719.000000  555719.000000
mean       38.542798     -90.231380       0.003860
std         5.095829      13.733071       0.062008
min        19.027422    -166.671575       0.000000
25%        34.755302     -96.905129       0.000000
50%        39.376593     -87.445204       0.000000
75%        41.954163     -80.264637       0.000000
max        66.679297     -66.952026       1.000000

In [34]:
sample = data.sample(frac=0.001)
print(sample)

        Unnamed: 0 trans_date_trans_time        cc_num  \
215610      215610      06/09/2020 00:22  4.512830e+18
294963      294963      10/10/2020 16:36  3.523900e+15
165298      165298      18/08/2020 01:18  3.004240e+13
76567        76567      18/07/2020 04:10  1.800650e+14
495775      495775      18/12/2020 21:58  2.266740e+15
...            ...                   ...           ...
360950      360950      08/11/2020 15:49  4.428150e+15
291007      291007      08/10/2020 14:04  3.512370e+15
197919      197919      30/08/2020 06:11  4.658120e+12
44495        44495      06/07/2020 15:55  3.553630e+15
218508      218508      07/09/2020 02:31  5.456710e+15

                                   merchant       category     amt      first  \
215610  fraud_Johnston, Nikolaus and Maggio    grocery_net   58.11     Monica
294963                     fraud_Kuhn Group    food_dining   34.60     Joshua
165298                 fraud_Wuckert-Walter    grocery_net   60.28     Connor
76567               fraud_Hackett-Lueilwitz    grocery_pos   68.71    Krystal
495775                  fraud_Douglas-White  entertainment   28.30     Carlos
...                                     ...            ...     ...        ...
360950     fraud_Zemlak, Tillman and Cremin  personal_care   33.22   Brittany
291007      fraud_Ruecker, Beer and Collier   shopping_net  692.19  Francisco
197919                  fraud_Ruecker Group       misc_net   61.26     Dwayne
44495                 fraud_Turner and Sons   shopping_pos    9.68     Sharon
218508                  fraud_Koss and Sons  gas_transport   34.20     Pamela

             last gender                        street  ...      lat  \
215610      Cohen      F           864 Reynolds Plains  ...  39.8936
294963  Carpenter      M           04975 Allison Shoal  ...  40.8798
165298      Grant      M  0654 Kevin Turnpike Apt. 084  ...  40.9051
76567      Gamble      F            47152 Clayton Burg  ...  39.6747
495775      Chung      M              8957 Russell Key  ...  34.4959
...           ...    ...                           ...  ...      ...
360950     Guerra      F               79209 Gary Dale  ...  46.5901
291007       Kemp      M             9554 Flores Drive  ...  38.4305
197919   Martinez      M    490 Baldwin Alley Apt. 468  ...  35.7206
44495     Johnson      F            7202 Jeffrey Mills  ...  48.3400
218508   Matthews      F     36659 Smith Club Apt. 080  ...  36.1486

            long  city_pop                                job         dob  \
215610  -79.7856       328                       Tree surgeon  25/07/1983
294963  -73.9067   1382480                   Therapist, drama  09/11/1990
165298  -73.3309     21902                       Tour manager  16/05/1976
76567   -76.8941     11751        Clinical research associate  15/02/1964
495775  -86.2590      5901                            Curator  25/07/1972
...          ...       ...                                ...         ...
360950 -117.1692       761            Chief Marketing Officer  30/06/1943
291007  -90.3870     35439            Land/geomatics surveyor  31/03/1985
197919 -108.0271      5662                      IT consultant  08/04/1989
44495  -122.3456        85  Research officer, political party  01/09/1984
218508 -105.6648       247         Architectural technologist  24/10/1961

                               trans_num   unix_time  merch_lat  merch_long  \
215610  ec85f967240daca5a0980f5d8c15bcad  1378426973  39.754048  -79.163134
294963  17ad5f9e64980d18effeccfba1cf5e33  1381422987  41.309619  -74.417033
165298  58728129e13a0896387bf1ba3d9df7ce  1376788689  40.962105  -73.563510
76567   dd0d58e79a925b13037f1deb9ac32ce4  1374120626  40.233326  -76.523724
495775  cc8e9e7bb304a35d25a555556f60274c  1387403904  35.172160  -85.614035
...                                  ...         ...        ...         ...
360950  0231f8870d375c79f9be841b46544770  1383925783  47.334958 -118.009943
291007  614d157e536501f7520144c967d7ce9a  1381241063  37.994377  -91.175725
197919  757120b74702f2fc1cf43b7a111ccf49  1377843085  34.745745 -108.945319
44495   dd2e29cbeec7a35b0c3ab116bd9757c8  1373126113  48.540813 -122.815151
218508  18119be407004f31ff684db7f23b7395  1378521078  35.999169 -104.667338

        is_fraud
215610         0
294963         0
165298         0
76567          0
495775         0
...          ...
360950         0
291007         0
197919         0
44495          0
218508         0

[556 rows x 23 columns]

In [35]:
drop : []

KeyError: 'is_fraud'